

.navbar {
  background-color: #790712; /* Bootstrap danger color */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.active {
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    margin-top: 1rem;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}
